<div class="container-fluid">    
    <!-- Page Header -->
    <div class="my-4 page-header-breadcrumb d-flex align-items-center justify-content-between flex-wrap gap-2">
        <div>
            <h1 class="page-title fw-medium fs-18 mb-2">Empty</h1>
            <div class="">
                <nav>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Empty</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="btn-list">
            <button class="btn btn-info btn-wave me-2 waves-effect waves-light" onclick="listOrder.ajax.reload()">
                <i class="bx bx-crown align-middle"></i> Refresh
            </button>
        </div>
    </div>
    <!-- Page Header Close -->

    <!-- Start::row-1 -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">
                        Table
                    </div>
                </div>
                <div class="card-body">
                    <table id="listorder-table" class="table table-bordered no-wrap responsive hover stripe">
                        <thead>
                            <tr>
                                <th>OrderID</th>
                                <th>Status</th>
                                <th>Total Amount</th>
                                <th>Products</th>
                                <th>Order Time</th>
                                <th>Payment Time</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--End::row-1 -->
    <script>
        var listOrder = new DataTable("#listorder-table",{
            responsive: true,
            order: [[4, 'desc']],
            scrollCollapse: true,
            autoWidth: false,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
            },
            "pageLength": 10,
            ajax: {
                url: "/api/order/list",
                type: "GET"
            },
            columns: [
                {
                    data: 'id',
                    render: function(data, type, row) {
                        return data;
                    }
                },
                {
                    data: 'status',
                    render: function(data, type, row) {
                        let badge = null;
                        switch (data) {
                            case "success":
                                badge = 'bg-success'
                                break;
                            case "cancel":
                                badge = 'bg-danger'
                                break;
                            case "pending":
                                badge = 'bg-warning'
                                break;
                            default:
                                badge = 'bg-dark text-white'
                                break;
                        }
                        return `<span class="badge ${badge}">${data}</span>`;
                    }
                },
                {
                    data: 'total_amount',
                    render: function(data, type, row) {
                        return `IDR ${data}`;
                    }
                },
                {
                    data: 'products',
                    render: function(data, type, row) {
                        var newData = [];
                        data.forEach(element => {
                            newData.push(`${element.name} (${element.quantity})`)
                        });
                        return newData.join(", ");
                    }
                },
                {
                    data: 'created_at',
                    render: function(data, type, row) {
                        const formattedDate = new Date(data).toLocaleString("id-ID");
                        return formattedDate;
                    }
                },{
                    data: 'updated_at',
                    render: function(data, type, row) {
                        const formattedDate = new Date(data).toLocaleString("id-ID");
                        return formattedDate;
                    }
                },
                {
                    data: "transaction_token",
                    render: function(data, type, row) {
                        return `
                        <div class="btn-list">
                            <div class="btn btn-secondary btn-wave" onclick="checkPayment('${data}', '${row.id}')">Detail</div>
                            <div class="btn btn-success btn-wave" onclick="checkPaymentStatus('${row.id}')">Status</div>
                        </div>
                        `;
                    }
                },
            ]
        });
        socket.on("newOrder", function(response) {
            listOrder.ajax.reload();
            if (response !== "false") {
                Toast.fire({
                    icon: "info",
                    title: response
                });
            }
        });
    </script>
</div>